<ion-view view-title="Overview">
  <ion-content>
     <div class="list card">
          
		  <div class="item item-text-wrap">
		    <h1>Founder's message</h1>
    <h2>I Help to Create Many Perfect Husbands in Taiwan</h2><br>
    <p>-Tony Ho, Chairman of Test Rite Group</p>
    <p><pre>The Test Rite Group is the leading retailer of home-related products and services in Taiwan. In 1978, my wife, Judy, set up a trading company with five people. Later, I joined and we expanded our business. In 2010, we had over 6,000 employees. Our annual turnover increased from 2 million to over 1 billion U.S. dollars. Judy and I never imagined that the Test Rite would become such a large enterprise.

The key to this growth was the expansion of our business from trade to retail of home-related products and services. In 1996, we started TLW Taiwan as a joint venture with the UK’s Kingfisher Group to focus on the DIY market for the first time. After that, we created another brand, HOLA, to focus on the home decoration market. TLW and HOLA become the two strong pillars of our success in the home-related market in Taiwan.

Solidarity is the secret of our success in trade and retail home-related products and services. Ever since we were a small trading company, our organizational culture was “Love is our foundation and a happy family is our goal.” Test Rite is like a big family and our employees are very close to us; we often travel with their whole family. Thanks to Judy for keeping such strong family ties.

People enjoy DIY by buying from TLW and HOLA. In my opinion, we’ve contributed to Taiwan society by helping to create many perfect husbands.

<h2>Creating Happiness with Simplicity and Stability</h2>
<p>-Judy Lee, Chairwoman of the Test Rite Group Trading Company</p>

To develop sustainable management, the Test Rite Group has hired lots of young people. When I see them, I like to cheer them up by asking how they are.

Tony and I play different roles in the Test Rite Group. Tony is like a general; and I’m like a patron saint. When Tony is working hard outside, I’m like a mother protecting the Test Rite Group family. Our core values are honesty and integrity. I hope these values can be handed down to future generations, so these new generations can run the fast-growing Test Rite Group very well.

Test Rite trading company was founded when I was 28 years old. It was very rare for a female to run an enterprise in that early period. Given that geniality was my advantage while I didn’t have enough financial resources, I decided to focus on the “home” industry and became familiar to the masters in the hardware business. We have become old friends and to this day, they still call me “hardware queen.”

Everyone wants a family that gives stability. According to my observations, simplicity, steadiness and stability are the most important elements for life. We put these concepts into our products, so our consumers can easily redecorate their homes with our bathroom accessories, kitchenware and floors products etc. Customers not only take care of their homes, but also get a new experience from our DIY products.

As the Test Rite Group enjoys huge growth, we should take on more social responsibility. To achieve our goal of “happy family”, we insist on providing lifelong maintenance services. We are the first to do business this way, and we are filled with ambition to extend lifelong maintenance services to other markets. I hope that when people want to do something to their house, the Test Rite Group will come to mind first. I look forward to seeing that happen.</pre></p><br>
		  </div>
		</a>

	</div>
    
  </ion-content>
</ion-view>
