<ion-view view-title="Overview">
  <ion-content>
     <div class="list card">
          
		  <div class="item item-text-wrap">
		    <h1>About Testrite Group</h1>
    <h2>A Global Integrated Enterprise</h2><br>
    <p><pre>The Test Rite Group is committed to forming a Globally Integrated Enterprise (GIE). Based on over 30 years of experience in export trading, we supply quality and value for products for renowned retailers worldwide such as Walmart, Sam’s Club, Target, Staples, Office Depot, Carrefour and Metro etc. With the brands of TLW, HOLA, HOLA CASA and HOLA Petite, we also have expanded into the retail channel market to provide a variety of home-related products and services. Today, the Test Rite Group has become an omni-directional and large-scale enterprise across trading, retail, e-commerce, product design, manufacturing and construction with 22 offices in 16 countries worldwide.

      Ever since its founding in 1978, the Test Rite Group, insisting on integrity, has endeavored to build long-term partnerships between retailers and manufacturers around the world. This inter-reactive network spans a variety of industries and all over the world. We trust one another, we stand up for each other and we succeed together.

      The Test Rite Group entered the Chinese market in 1992 and established the trading business headquarters of the Greater China area in Shanghai. The import business division was also established to effectively utilize the abundant resources of the domestic manufacturing industry, and to develop the agency business with famous international brands. Moreover, Test Rite’s retail business entered the Chinese market in 2004 and established HOLA(China) in Beijing, Shanghai and Shenzhen etc. to focus on the home decoration market. We believe that forecasting world trends rapidly and preciously, providing a variety of quality products and services and more important, continuous innovation, are the keys to fully satisfy customer demand.

      Integrity, accountability, modesty, customer focus and high performance are Test Rite Group’s core values and culture. We are committed to providing the best services for our customers, and to helping them make their dream home. Together we can build a better tomorrow.</pre></p>
		  </div>
		</a>

	</div>
    
  </ion-content>
</ion-view>
