<ion-view view-title="Testrite Vision">
  <ion-content>
     <div class="list card">
          
		  <div class="item item-text-wrap">
		    <h1>Vision</h1>
    <p><pre>    The rise of the Internet, the application of new technologies and the booming emerging markets shorten the distance among the globe and have made the world flat. Instead of limitations on time and space, the enterprise can leverage the availability of talent and the resource allocation to map out its deployment based on costs, technologies and business environment.

      In the Test Rite Group, our vision is to form a Globally Integrated Enterprise (GIE). Rather than focusing on the lowest cost, we aim to pursue resource optimization and to build great partnerships with our suppliers, business partners and customers.

      The Test Rite Group’s utmost goal is to pursue growth prosperity and sustainable business development. We aim to retain and create value for our shareholders, investors, customers, business partners, employees and the whole society. On one hand, we respond to market changes and through the strategy of integration and innovation, to create the new blue ocean market to achieve our goal. On the other hand, we emphasize corporate governance to ensure the transparency of management and surveillance mechanism and the stability of organizational operation. This is the key to the sustainable business growth for the Test Rite Group.

      Likewise, the Test Rite Group is committed to social responsibility. Being a good corporate citizen, we will continue to contribute to the progress of the environment, society and all mankind.</pre></p>
    <p></p>
    <p></p>
		  </div>
		</a>

	</div>
    
  </ion-content>
</ion-view>
